
<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" >
                <NotAuthorized>
                        <h3> <span>Nie możesz zobaczyć tej strony.</span></h3>
                        <h5>
                            Prosze <a href="login">
                                Zaloguj się
                            </a> 
                            
                         </h5>
                       
                </NotAuthorized>
            </AuthorizeRouteView>
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <p role="alert">Nic tu nie ma.</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>
